<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1, user-scalable=no">
    <meta name="description" content="skin care personnalized recommendation">
    <link rel="shortcut icon" href="#"> 
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <script src="/static/components/externaljs/jquery-1.11.1.min.js"></script>
    <script src="/static/components/externaljs/jquery-migrate-1.2.1.min.js"></script>
    <script src="/static/components/externaljs/d3.v3.min.js"></script>
    <script src="/static/components/externaljs/jquery-ui.js"></script>
    <script src="/static/components/externaljs/typeahead.bundle.js"></script>    
  </head>
  <body>
  <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&appId=179157655615658&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="container">
      <header>
        <p id="brandName"><i class="fa fa-compass"></i>Oh my care</p>
        <p id="tagLine"><i class="fa fa-heart-o"></i> Helping People taking care of their skin </p><div id="fb" class="fb-share-button" data-href="http://obscure-bayou-8082.herokuapp.com/main/" data-layout="icon"></div>
      </header>
      <div class="row">
        <div id="left" class="col-sm-3">
          <div class="search">
            <i class="fa fa-search"></i><input id="product" type="text" placeholder="Search product">
          </div>
          <div class="results">
          </div>
        </div><!-- left -->
        <div id="main" class="col-sm-6">
          <div>
            <h1><i class="fa fa-long-arrow-left"></i> Select a product</h1>
          </div>
        </div><!-- main -->
        <div id="right" class="col-sm-3">
          <div class="row">
            <h1>Toxicity</h1>
          </div>
          <div id="toxicReport" class="row">
            <div id="toxicity"></div>
          </div>
          <div class="block">
          </div>
        </div><!-- right -->
      </div><!-- row -->
      <footer>
      </footer>
    </div> <!-- container -->
    <script src="/static/components/js/script.js"></script>
    <script src="/static/components/js/radarPlot.js"></script>
  </body>
</html>
