.container {
	header {
		font-size: $xxxs;
		width: 100%;
		margin: 0 auto;
		padding: 0.5em 0 0.5em 0;
		text-align: center;
		background: $lighter_color3;
		color: $base_color;
	}
	
	section.profile {
		margin: 10px 10px 10px 10px;
		label {
			display: block;
			margin-top: 0px;
			text-align: center;
			font-size: $xxxxs;
			span {
				font-style: italic;
			}
		}
	}

	section.main {
		padding: 0.5em;
		width: 100%;
		background: $lighter_color2;
		color: $base_color;

		.needProduct .thumbnail {
			border: solid 2px $green;
		}

		.loveProduct .thumbnail {
			border: solid 2px $blue;
		}

		@media (max-width: 767px) {
			.row .loveProduct .col-sm-6 {
				padding-right: 0px;
				padding-left: 0px;
			}
		}
	}
}

